<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>automaatnehindaja</display-name>
  <welcome-file-list>
    <welcome-file>mainpage.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secured</web-resource-name>
      <url-pattern>/upload</url-pattern>
      <url-pattern>/Taskstable</url-pattern>
      <url-pattern>/LogsServlet</url-pattern>
      <url-pattern>/ChangePassServlet</url-pattern>
      <url-pattern>/task</url-pattern>
      <url-pattern>/getRole</url-pattern>
      <url-pattern>/tasktable</url-pattern>
      <url-pattern>/viewfile</url-pattern>
      <url-pattern>/download</url-pattern>
      <url-pattern>/resulttable</url-pattern>
      <url-pattern>/getcoursenames</url-pattern>
      <url-pattern>/mainpage.html</url-pattern>
      <url-pattern>/html/change_pass.html</url-pattern>
      <url-pattern>/html/main.html</url-pattern>
      <url-pattern>/html/results.html</url-pattern>
      <url-pattern>/html/tasksview.html</url-pattern>
      <url-pattern>/html/tasksiew.html</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>responsible</role-name>
      <role-name>tudeng</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secured</web-resource-name>
      <url-pattern>/html/addusermanually.html</url-pattern>
      <url-pattern>/html/addusercsv.html</url-pattern>
      <url-pattern>/html/addTask.html</url-pattern>
      <url-pattern>/html/addCourse.html</url-pattern>
      <url-pattern>/html/addusertocourse.html</url-pattern>
      <url-pattern>/html/studentsview.html</url-pattern>
      <url-pattern>/html/plagiarism.html</url-pattern>
      <url-pattern>/addTask</url-pattern>
      <url-pattern>/StudentsTable</url-pattern>
      <url-pattern>/getPlagiarismScores</url-pattern>
      <url-pattern>/viewoutput</url-pattern>
      <url-pattern>/addtocourse</url-pattern>
      <url-pattern>/addusermanually</url-pattern>
      <url-pattern>/AddCSV</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>responsible</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <role-name>tudeng</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login_page.html</form-login-page>
      <form-error-page>/login_page.html</form-error-page>
    </form-login-config>
  </login-config>
</web-app>