<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>automaatnehindaja</display-name>
  <welcome-file-list>
    <welcome-file>tasksview.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>automaatnehindaja.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskstableServlet</servlet-name>
    <servlet-class>automaatnehindaja.TaskstableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskstableServlet</servlet-name>
    <url-pattern>/Taskstable</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secured</web-resource-name>
      <url-pattern>/upload</url-pattern>
      <url-pattern>/Taskstable</url-pattern>
      <url-pattern>/task</url-pattern>
      <url-pattern>/tasktable</url-pattern>
      <url-pattern>/results.html</url-pattern>
      <url-pattern>/results.html</url-pattern>
      <url-pattern>/results.html</url-pattern>
      <url-pattern>/results.html</url-pattern>
      <url-pattern>/taskview.html</url-pattern>
      <url-pattern>/tasksview.html</url-pattern>
      <url-pattern>/CSS/*</url-pattern>
      <url-pattern>/Scripts/*</url-pattern>
      <url-pattern>/download</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>tudeng</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>tudeng</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login_page.html</form-login-page>
      <form-error-page>/login_failure.html</form-error-page>
    </form-login-config>
  </login-config>
</web-app>