@CHARSET "UTF-8";

html{
	background: #eee;	
	font-family:sans-serif;
}

.field{
	font-weight: bold;
}

.manual{
	
	border-right: 2px solid #000;
	
}

.inputfields{
	
}

#addUserTable{
	width: 100%;
}

#description{
	display: none;
	border: solid 2px black;
	padding:10px;
}

#logoutbutton{
	float:right;
}

#backbutton{
	float:left;
}

#errorWindow{
	background-color: white;
	max-width:350px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	overflow:hidden;
	

	border: solid #666 1px; 
		padding: 10px; 
		
	
}

#addUserWindow{
	background-color: white;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	overflow:hidden;
	font-size:small;
	

	border: solid #666 1px; 
		padding: 10px; 
}
	
	
#overlay{
	position: absolute;
	z-index: 2;
	display: none;
	max-width: 400px;
	background-color: #fff;
	border: solid 1px #000;
	font-size: 12px;
	
}

#tasksWindow, #taskWindow, #resultWindow, #addTaskWindow{
	z-index: 1;
	position: relative;
	background-color: white;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	overflow:hidden;
	

	border: solid #666 1px; 
		padding: 10px; 
}

#tableDiv{
	float:left;
}
#buttonDiv{
	float:right;
	margin:10px;
	max-width: 130px;
}

#buttonDiv button {
	width: 125px;
}

.tableclass {
	border-collapse:collapse;
	margin-top: 20px;
	width: 100%;
}

.tableclass td{
	width: 150px;
	padding:5px;
	text-align: center;
}

.tableclass th{ 
	background-color: #DEDEDE;
}

.tableclass tr:nth-child(odd) td { background-color:#fbfbfb } /*odd*/
.tableclass tr:nth-child(even) td { background-color:#e8ecee } /*even*/



#fileinput, #newTaskForm {
	display: none;
	margin-top: 20px;
	float:left;
}

#sendFile{
	float:right;
	margin: 20px;
}

#LogInWindow.p {
	padding:10px;
}

#tasksViewLoader  {
	position: absolute;
	left: 30%;
	top: 46%;
}

#resultsLoader, #taskViewLoader {
	position: absolute;
	left: 46%;
	top: 46%;
}