@CHARSET "UTF-8";

html{
	background: #eee;	
	font-family:sans-serif;
}

#description{
	border: solid 2px black;
	padding:10px;
}

#logoutbutton{
	float:right;
}

#backbutton{
	float:left;
}

#errorWindow{
	background-color: white;
	max-width:350px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	overflow:hidden;
	

	border: solid #666 1px; 
		padding: 10px; 
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	
}

#tasksWindow, #taskWindow, #resultWindow, #newTaskWindow{
	position: relative;
	background-color: white;
	max-width: 800px;
	min-height: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	overflow:hidden;
	

	border: solid #666 1px; 
		padding: 10px; 
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
}

#tableDiv{
	float:left;
}
#buttonDiv{
	float:right;
	margin:10px;
	
}

#buttonDiv button {
	width: 125px;
}

.tableclass {
	border-collapse:collapse;
	margin-top: 20px;
	width: 100%;
}

.tableclass td{
	width: 150px;
	padding:5px;
	text-align: center;
}

.tableclass th{ 
	background-color: #DEDEDE;
}

.tableclass tr:nth-child(odd) td { background-color:#fbfbfb } /*odd*/
.tableclass tr:nth-child(even) td { background-color:#e8ecee } /*even*/



#fileinput, #newTaskForm {
	margin-top: 20px;
	float:left;
}

#sendFile{
	float:right;
	margin: 20px;
}

#LogInWindow.p {
	padding:10px;
}

#newTaskForm {
	margin: 20px;
}

h1 {
	margin: 20px;
	margin-top: 30px;
}

#tasksViewLoader {
	position: absolute;
	left: 30%;
	top: 46%;
}